.measurement-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-image: url(../ggg.jpg);
    background-size: cover;
    // height: 80vh;
    // background-color: rgb(235, 248, 55);

    .measurement-top {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        width: 100%;
        height: 10vh;
        background-color: rgb(195, 152, 245);

        .searchbar {
            display: flex;
            margin-right: 100px;

            .search {
                height: 30px;
                width: 250px;
            }
        }
    }

    .measurement-bottom {
        display: flex;

        .measurement-left {
            display: flex;
            flex-direction: column;
            align-items: center;
            // justify-content: center;
            width: 50%;
            height: 100%;
            // background-color: rgb(235, 183, 183);
    
            h2 {
                margin-top: 50px;
            }
    
            table {
                width: 80%;
                text-align: center;
                // border: solid black 1px;
                font-family: Arial, Helvetica, sans-serif;
                border-collapse: collapse;
    
                td, th {
                    border: 1px solid #ddd;
                    padding: 8px;
                }
    
                tr:nth-child(even){
                    background-color: #f2f2f2;
                }
    
                thead {
                    background-color: rgb(178, 63, 255);
                    // background-color: #04AA6D;
                    color: white;
                }
            }
        }
    
        .measurement-right {
            width: 50%;
            height: 100%;
            // background-color: rgb(169, 182, 253);
    
            h2 {
                display: flex;
                align-items: center;
                justify-content: center;
                width: 100%;
                // background-color: red;
            }
    
            .form-container {
                width: 75%;
                margin: auto;
                margin-bottom: 50px;
                margin-top: 50px;
                justify-content: space-between;
    
                form {
                    width: 100%;
                    // background-color: red;
    
                    .form-group {
                        width: 100%;
                        margin-bottom: 10px;
    
                        label {
                            display: block;
                            margin-bottom: 5px;
                        }
    
                        input {
                            width: 96%;
                            padding: 8px;
                            margin-bottom: 10px;
                        }
                    }
    
                    .button {
                        background-color: #9b4caf;
                        color: white;
                        padding: 10px 15px;
                        border: none;
                        cursor: pointer;
                        width: 100%;
    
                        &:hover {
                            background-color: #d154cd;
                          }
                      }
                }
            }
        }
    }
}