.baby-details-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 78vh;
    //background-image: url(../ggg.jpg);
    background-size: cover;
    // background-color: purple;

    .babyDetail-top {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        width: 100%;
        height: 10vh;
        background-color: rgb(195, 152, 245);

        .searchbar {
            display: flex;
            margin-right: 15px;

            .search {
                height: 30px;
                width: 250px;
                
            }
        }
    }

    .babyDetail-bottom {
        display: flex;
        flex-direction: column;
        align-items: center;
        // justify-content: center;
        width: 100%;
        height: 70vh;
        // background-color: rgb(234, 214, 243);

        .card-head {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;
            height: 10vh;
            background-color: white;
        }

        table {
            margin-top: 10px;
            width: 98%;
            text-align: center;
            // border: solid black 1px;
            font-family: Arial, Helvetica, sans-serif;
            border-collapse: collapse;

            td, th {
                border: 1px solid #ddd;
                padding: 8px;
            }

            tr:nth-child(even){
                background-color: #f2f2f2;
            }

            thead {
                background-color: rgb(185, 120, 228);
                // background-color: #04AA6D;
                color: white;
            }

            tbody {
                height: 20vh;
                overflow-y: scroll;

                tr {

                    .crud-btn {
                        // width: 150px;
                        // display: flex;
                        // flex-direction: column;
                        // align-items: center;
                        // justify-content: center;
        
                        .top-detail {
                            width: 100%;
                            height: 32px;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            // background-color: green;
                            border: solid rgb(45, 5, 49) 1px;
                            border-radius: 4px;
                            margin-bottom: 4px;
                            transition: 0.1s ease-in-out;

                            &:hover {
                                background-color: rgb(220, 192, 233);
                                cursor: pointer;
                            }
                        }
        
                        .bottom-detail {
                            display: flex;
                            width: 100%;
                            height: 35px;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            // background-color: blue;

                            .update {
                                display: flex;
                                align-items: center;
                                justify-content: center;
                                width: 100%;
                                height: 32px;
                                // background-color: blue;
                                border: solid blue 1px;
                                border-radius: 4px;
                                transition: 0.1s ease-in-out;

                                &:hover {
                                    background-color: rgb(129, 129, 255);
                                    cursor: pointer;
                                    color: white;
                                }
                            }

                            .delete {
                                display: flex;
                                align-items: center;
                                justify-content: center;
                                width: 50%;
                                height: 32px;
                                // background-color: red;
                                border: solid red 1px;
                                border-radius: 4px;
                                margin-left: 4px;
                                transition: 0.1s ease-in-out;

                                &:hover {
                                    background-color: rgb(252, 162, 162);
                                    cursor: pointer;
                                    color: white;
                                }
                            }
                        }    
                    }

                    .babyDetail-view-container {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        width: 100%;
                        height: 100vh;
                        background-color: rgba(0, 0, 0, 0.774);
                        position: fixed;
                        top: 0;
                        left: 0;
                        z-index: 10;
                        
                            .cardView {
                                display: flex;
                                flex-direction: column;
                                align-items: center;
                                width: 95%;
                                height: 95vh;
                                background-color: white;
                                border-radius: 10px;
                                overflow-y: auto;
                                overflow-x: hidden;
                        
                                .close-icon {
                                    display: flex;
                                    align-items: center;
                                    justify-content: flex-end;
                                    width: 100%;
                                    height: 8%;
                                    z-index: 10;
                                    padding-top: 10px;
                        
                                    .icon {
                                        padding-right: 5px;
                                        // padding-top: 5px;
                        
                                        &:hover {
                                            transform: scale(1.1);
                                            cursor: pointer;
                                        }
                                    }
                                }
                        
                                .card-section {
                                    width: 100%;
                                    // height: 92%;
                                    // background-color: red;
                                    display: flex;
                                    flex-direction: column;
                                    align-items: center;
                                    justify-content: center;

                                    .top-section {
                                        width: 100%;
                                        height: 30vh;
                                        display: flex;
                                        flex-direction: column;
                                        margin-bottom: 40px;
                                        align-items: center;
                                        justify-content: center;
                                        // background-color: rgb(236, 177, 177);

                                        h3 {
                                            display: flex;
                                            align-items: center;
                                            justify-content: flex-start;
                                            margin-left: 50px;
                                            padding-top: 30px;
                                            width: 100%;
                                        }

                                        .detail-body {
                                            width: 100%;
                                            display: grid;
                                            grid-template-columns: auto auto auto;
                                            grid-auto-flow: row;
                                            // background-color: red;
            
                                            .detail {
                                                margin-left: 40px;
                                                display: flex;
                                                align-items: center;
                                                justify-content: flex-start;
                
                                                h4 {
                                                    margin-left: 50px;
                                                    margin-right: 5px;
                                                }
                                            }
                                        }
            
                                    }

                                    .bottom-section {
                                        width: 100%;
                                        // height: 60vh;
                                        display: flex;
                                        align-items: center;
                                        justify-content: center;
                                        // background-color: rgb(169, 169, 243);

                                        .bottom-left {
                                            width: 50%;
                                            height: 100%;
                                            display: flex;
                                            flex-direction: column;
                                            align-items: center;
                                            // justify-content: center;
                                            // background-color: rgb(238, 165, 165);

                                            h3 {
                                                width: 100%;
                                                margin-left: 50px;
                                                display: flex;
                                                align-items: flex-start;
                                            }

                                            .vaccine-card-fram {
                                                width: 95%;
                                                // height: 100%;
                                                display: grid;
                                                grid-template-columns: auto auto;
                                                grid-gap: 15px;
                                                // background-color: red;
                                                margin-bottom: 30px;

                                                .vaccine-fram {
                                                    display: flex;
                                                    align-items: center;
                                                    justify-content: center;
                                                    width: 100%;
                                                    height: 60px;
                                                    overflow: hidden;
                                                    // background-color: gray;
                                                    border: 1px solid rgb(206, 206, 206);
                                                    background-color: white;
                                                    border-radius: 8px;
                                                    box-shadow: 0 4px 16px rgba(17,17,26,.1), 0 8px 24px rgba(17,17,26,.1), 0 16px 56px rgba(17,17,26,.1);

                                                    .vaccine_name{
                                                        width: 100%;
                                                        display: flex;
                                                        align-items: center;
                                                        justify-content: center;
                                                        // background-color: red;
                                                    }

                                                    button{
                                                        width: fit-content;
                                                        height: 100%;
                                                        border: none;
                                                        background-color: rgb(236, 81, 81);
                                                        color: white;
                                                        font-size: 13px;
                                                        cursor: pointer;
                                                    }
                                                    &:hover {
                                                        cursor: pointer;
                                                    }
                                                }
                                            }
                                        }

                                        .bottom-right {
                                            width: 50%;
                                            height: 100%;
                                            display: flex;
                                            flex-direction: column;
                                            overflow-x: hidden;
                                            align-items: center;
                                            // justify-content: center;
                                            // background-color: rgb(163, 163, 238);

                                            h3 {
                                                width: 100%;
                                                margin-left: 50px;
                                                display: flex;
                                                align-items: flex-start;
                                            }

                                            .development-activites-top {
                                                display: grid;
                                                grid-template-columns: auto auto auto auto auto;
                                                grid-auto-flow: row;
                                                align-items: center;
                                                justify-content: center;
                                                width: 98%;
                                                height: 20vh;
                                                grid-gap: 15px;
                                                // background-color: red;

                                                .month-fram {
                                                    display: flex;
                                                    align-items: center;
                                                    justify-content: center;
                                                    width: 80px;
                                                    height: 40px;
                                                    // background-color: gray;
                                                    background-color: white;
                                                    border-radius: 8px;
                                                    box-shadow: 0 4px 16px rgba(17,17,26,.1), 0 8px 24px rgba(17,17,26,.1), 0 16px 56px rgba(17,17,26,.1);
                                                    
                                                    &:hover {
                                                        cursor: pointer;
                                                    }
                                                }

                                                .active{
                                                    background-color: rgb(236, 81, 81);
                                                    color: white;
                                                }
                                            }

                                            .development-activites-bottom {
                                                width: 100%;
                                                height: 68vh;
                                                display: flex;
                                                flex-direction: column;
                                                align-items: center;
                                                justify-content: center;
                                                // background-color: rgb(143, 143, 236);
                                            
                                                table {

                                                    .number {
                                                        width: 50px;
                                                    }

                                                    tr {

                                                        .makeAsDone{
                                                            border: none;
                                                            border-radius: 4px;
                                                            color: white;
                                                            width: 120px;
                                                            height: 30px;
                                                            background-color: rgb(108, 108, 247);

                                                            &:hover {
                                                                cursor: pointer;
                                                                background-color: rgb(57, 57, 255);
                                                            }
                                                        }

                                                        .done {
                                                            border: none;
                                                            border-radius: 4px;
                                                            color: white;
                                                            width: 120px;
                                                            height: 30px;
                                                            background-color: rgb(122, 236, 146);
                                                        }
                                                    }
                                                }

                                                .button {
                                                    display: flex;
                                                    align-items: center;
                                                    justify-content: center;
                                                    width: 80%;
                                                    // background-color: red;
                                                    margin-top: 10px;
                                                    margin-bottom: 10px;

                                                    .input-field {
                                                        // margin-top: 5px;
                                                        // margin-bottom: 10px;
                                                        height: 30px;
                                                        width: 80%;
                                                    }

                                                    .submit-btn {
                                                        width: 100px;
                                                        height: 35px;
                                                        margin-left: 4px;
                                                        background-color: hwb(240 22% 0%);
                                                        border: none;
                                                        border-radius: 8px;
                                                        color: white;

                                                        &:hover {
                                                            background-color: blue;
                                                            cursor: pointer;
                                                        }
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                    }
                }
            }
        }
    }
}