.addNew-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 78vh;
    // background-color: red;

    #add-news{
        border-radius: 10px;
        box-shadow: 0 4px 16px rgba(17,17,26,.1), 0 8px 24px rgba(17,17,26,.1), 0 16px 56px rgba(17,17,26,.1);
        width: 900px;
        height: 95%;
        margin: 0 auto;
        background-color: rgb(255, 251, 242);
    
        h3{
            text-align: center;
            // padding: 5px;
            padding-top: 10px;
        }
    
        form{
            padding: 20px;
            padding-top: 0;

            .row{
                display: flex;
                flex-direction: column;
                padding-bottom: 10px;
    
                label{
                    font-weight: bold;
                    padding-bottom: 5px;
                }
    
                input{
                    padding: 5px;
                }
                input[type=file]{
                    padding: 0px;
                }
            }
    
            .submit-button{
                padding-top: 5px;

                .submit-btn {
                    border: solid 1px blue;
                    border-radius: 8px;

                    &:hover {
                        cursor: pointer;
                        background-color: rgb(102, 102, 247);
                        color: white;
                        border: none;
                    }
                }
            }
        }
    }
}